.idea/
email_tool.api/bin/
email_tool.api/obj/
email_tool.bll/bin/
email_tool.bll/obj/
email_tool.client/bin/
email_tool.client/obj/
email_tool.data/
email_tool.shared/bin/
email_tool.shared/obj/
email_tool.api/Logs/
